@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Hind:wght@300&family=Lora&family=Nunito+Sans:wght@600&family=Open+Sans+Condensed:wght@700&family=Roboto:wght@400;500&family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap');


body{
    font-family: 'Heebo', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Lora', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

}

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --card-bg-color:white;
    --card-title-color:rgb(148, 13, 148);
}
.drawer-component
{
    height: 300px;
    width: 90%;
    /* display: grid;
    grid-template-columns: 300px 1fr; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    margin: auto;
    overflow:scroll;
    overflow-x: hidden;
}
.ml-1
{
    margin-left: 1rem;
}
.drawer-header
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    max-width:915px;
}
.header{
    line-height: 60px;
    max-width:inherit;
    background-color: var(--card-title-color);
    font-size: 2.6rem;
    color: white;
    display: flex;
    align-items: center;
    margin: 0.7rem; 
     
}

.card
{
    /* margin: auto; */
    height:300px;
    width:300px;
    background-color: var(--card-bg-color);
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-x: hidden;
}
.outline
{
    border:2px solid white;
    box-shadow: 2px 2px 4px rgb(204, 202, 202);
}
.mt-2
{
    margin-top: 2rem;;
}
.pl-1
{
    padding: 1rem;
}
.header-content .title{
  font-size: 2.5rem;
  font-weight: 700;
  color:var(--card-title-color);
}
.header-content .subtitle{
    font-size: 1.6rem;
    font-weight: 400;
    color:var(--card-title-color);
  }
  .drawer-icons
  {
      font-size: 2rem;
  }
  ul li a{
      text-decoration: none;
      color:var(--card-title-color);
      display: flex;
      align-items: center;
      margin: 0.7rem;  
  }
  ul li span{
      margin-left: 1rem;
  }
  ul li:hover
  {

    background-color: rgb(76, 153, 240);
    border-radius: 4px;
    line-height:30px;
    font-size: 2rem;
  }
  ul li a:hover{
      color:white;
  }
  
  /* .subtitle:hover{
    background-color: rgb(76, 153, 240);
    border-radius: 4px;
    line-height:30px;
    font-size: 1.6rem;
    color:white;
  }
  .title:hover{
    background-color: rgb(76, 153, 240);
    border-radius: 4px;
    line-height:30px;
    font-size: 2.4rem;
    color:white;
  }
   */
   .label
   {
       font-size: 1.5rem;
       color:gray;
       margin-top: 0.3rem;
   }

   /* scrollbar css */
   ::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #9f19dd; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  .content
  {
      font-size: 1.5rem;
  }
